{% extends 'base.html' %}

{% block content %}
	<div style="font-size: smaller;">

 	<hr>
	 <div class="contact display-6 offset-3 px-3">
		<br>
 	<h2 class="display-3" style="text-underline-offset: 10px;">Contact us</h2>
	<br>
	<p class="td">For any queries regarding this website contact us on following:</p>

	<p class="td">Our Email ID:christuniversity.in</p>
	<p class="td">Twitter handle:@christuniversity</p>
	<p class="td">Contact number:9876543210</p>

	</div>
	
</div>
{% endblock %}